{% extends 'team/teams.html' %}

{% block content %}
    <div class="frm">
        <div class="card-body">
            <div class="d-flex">
                <h1 class="card-title mr-auto">{{ team.name }}</h1>
                <form class="form-inline">
                {% if cur_player == captain %}
                    <a href="{% url 'add_player' team.pk%}" class="frm-btn" role="button">Пригласить игрока</a>
                    <a href="{% url 'del_team' team.pk%}" class="frm-btn" role="button">Удалить команду</a>
                </form>
                {% else %}
                    <a href="{% url 'leave_team' team.pk%}" class="frm-btn" role="button">Покинуть команду</a>
                {% endif %}
            </div>

            <table class="table">
                <tr>
                    <th>Состав</th>
                     <th class="col-2"></th>
                </tr>
                <tbody>
                    {% for player in players %}
                        <tr>
                            {% if player == cur_player %}
                                <td><strong>{{ player }} (Вы)</strong></td>
                            {% else %}
                                <td>{{ player }}</td>
                                {% if cur_player == captain %}
                                    <td><a href="{% url 'del_player' team.pk player.pk%}" class="frm-btn" role="button">Удалить</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}