{% extends 'base.html' %}

{% block title %}
    <title>Мои команды</title>
{% endblock %}

{% block navbar %}
    <form class="form-inline mr-auto">
        <a href="{% url 'index' %}" class="frm-btn" role="button">Главная</a>
        <a href="{% url 'games' %}" class="frm-btn" role="button">Игры</a>
        <a href="{% url 'teams' %}" class="frm-btn active" role="button">Мои команды</a>
        <a href="{% url 'profile' %}" class="frm-btn" role="button">Профиль</a>
    </form>
{% endblock %}

{% block content %}
    <div class="frm">
        <div class="card-body">
            <form class="form-inline">
                <h1 class="card-title mr-auto">Доступные команды</h1>
                <a href="{% url 'create_team' %}" class="frm-btn" role="button">Создать новую</a>
            </form>

            <table class="table">
                <tr>
                    <th>Команда</th>
                    <th class="col-2"></th>
                </tr>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td><strong>{{ team }}</strong></td>
                            <td><a href="{% url 'selected_team' team.pk %}" class="frm-btn" role="button">Состав</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}