{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    <title>{{game_title}}</title>
{% endblock %}

{% block content %}

    {% if message %}
        <script>
            alert('{{ message }}');
        </script>
    {% endif %}

    <form method="POST" class="frm">
        <span>Оставшееся время: </span>
        <div id="timer"></div>
        <script src="{% static 'js/timer.js' %}"
                defer
                data-end_time="{{ end_time }}"
        ></script>
        {% csrf_token %}
        {% for problem, field in probs_and_fields %}
            <h2>Задача №{{ forloop.counter }}</h2>
            <p class="text-break">{{ problem.problem.description|linebreaksbr }}</p>
            {{ field|as_crispy_field }}
        {% endfor %}
        <button type="submit" class="frm-btn">Сохранить ответы</button>
    </form>
{% endblock %}

