{% extends 'base.html' %}

{% block title %}
    <title>Игры</title>
{% endblock %}

{% block content %}

    {% if message %}
        <script>
            alert('{{ message }}');
        </script>
    {% endif %}

    <div class="frm">
        <div class="card-body">
            <h1 class="card-title">Список игр</h1>
            <table class="table">
                <tr>
                    <th class="col-4">Игра</th>
                    <th class="col-2">Время начала</th>
                    <th class="col-2">Время окончания</th>
                    <th class="col-2"></th>
                </tr>
                <tbody>
                    {% for game in started_games %}
                        <tr>
                            <td><strong>{{ game }}</strong></td>
                            <td>{{ game.start_time }}</td>
                            <td>{{ game.end_time }}</td>
                            {% if game in registered_games %}
                            <td>
                                <a href="{% url 'answer_game' game.pk %}" class="frm-btn" role="button">Войти</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% for game in not_started_games %}
                        <tr>
                            <td><strong>{{ game }}</strong></td>
                            <td>{{ game.start_time }}</td>
                            <td>{{ game.end_time }}</td>
                            {% if game not in registered_games %}
                                <td>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="submit" name="regBtn" value="Регистрация" class="frm-btn"/>
                                        <input type="hidden" name="gameId" value={{game.pk}}>
                                    </form>
                                </td>
                            {% else %}
                                <td>Вы зарегистрированы</td>
                            {% endif %}
                            <!-- <td><a href="{#% url 'reg_to_game' game.pk %#}" class="frm-btn" role="button">Зарегистрироваться</a></td> -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
