{% extends 'game/games.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <form method="POST" class="frm">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="frm-btn">Регистрация</button>
    </form>

    <script>
      $(document).ready(function () {
        $.getJSON("{% url 'get_teams_with_captain' %}", function(data) {
            $.each(data, function (index, json) {
                $("#team").append($("<option></option>").attr("value", json.pk).text(json.name));
            });
        });

        $("#team").on("change", function (){
            $("#users").empty();
            $.getJSON("{% url 'get_players_in_team' pk=0%}".replace('0', this.value), function(data) {
                $.each(data, function (index, json) {
                    $("#users").append($("<option></option>")
                        .attr("value", json.pk).
                        text(json.user__first_name + " " + json.user__last_name));
                });
            });
        })

      })
  </script>

{% endblock %}