{% extends 'base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}


{% block content %}
    <div class="frm">
        <div class="card-body text-center">
            <h1 class="card-title">Добро пожаловать на сайт!</h1>
            <p class="card-text">Здесь вы сможете сыграть в математические онлайн игры "Карусель"</p>
        </div>
        <div class="card-footer">
            <span>Техническая поддержка:</span>
            <a href="mailto:askurlin@edu.hse.ru"> askurlin@edu.hse.ru</a>
        </div>
    </div>
{% endblock %}