{% extends 'base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block navbar %}
    <form class="form-inline mr-auto">
        <a href="{% url 'index' %}" class="frm-btn active" role="button">Главная</a>
        <a href="{% url 'games' %}" class="frm-btn" role="button">Игры</a>
        <a href="{% url 'teams' %}" class="frm-btn" role="button">Мои команды</a>
        <a href="{% url 'profile' %}" class="frm-btn" role="button">Профиль</a>
    </form>
{% endblock %}

{% block content %}
    <div class="frm">
        <div class="card-body text-center">
            <h1 class="card-title">Добро пожаловать на сайт!</h1>
            <p class="card-text">Здесь вы сможете сыграть в математические онлайн игры "Карусель"</p>
        </div>
    </div>
{% endblock %}